.expertise-card {
  min-height: 266px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  padding: 10px 15px;
  transition: 0.4s ease;
  border: 1px solid white;

  &:hover {
    background: rgba($color: $warning, $alpha: 0.8);

    transform: scale(1.03);
    .text-warning {
      color: rgb(31, 31, 31) !important;
    }
  }

  &__img {
    width: 100px;
    height: 120px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

.why-choose-card {
  margin: 10px 0px;
}

.step-blurb {
  &:hover {
    cursor: pointer;
    p:first-child {
      color: white !important;
    }
  }
  &__img {
    width: 80px;
    margin: 0px auto;
    img {
      width: 100%;
    }
  }

  &__detail {
    p:first-child {
      white-space: pre-line;
      transition: 0.4s ease;

      &:hover .step-blurb__img {
        transform: scale(1.05);
      }
    }
  }
}

.blurb-check {
  &__img {
    max-width: 100px;
    img {
      width: 100%;
    }
  }
}
.text-check {
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    @include tablet {
      width: 30px;
      height: 30px;
    }
    @include large-tablet {
      width: 40px;
      height: 40px;
    }
    @include desktop {
      transform: translateY(-5px);
    }
    overflow: hidden;
    background-size: contain;
    background-image: url("./../../static/check.svg");
  }
}

.seo-blurb {
  &__img {
    max-width: 180px;
    @include large-tablet {
      max-width: 220px;
    }
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }

  &__detail {
    max-width: 450px;
    margin: 0px auto;
  }
  &__title {
    font-size: 1.8rem;
    @include large-tablet {
      font-size: 2.2rem;
    }
  }

  &__list {
    width: 90%;
    margin: 30px auto;
    @include large-tablet {
      margin: 30px 0px;
    }
    .text-check::after {
      transform: translateY(-4px);
      @include tablet {
        transform: translateY(-7px);
      }
      @include large-tablet {
        transform: translateY(-10px);
      }
      @include desktop {
        transform: translateY(-12px);
      }
    }
  }
}

.seo-all-blurb {
  &__img {
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }

  .text-check::after {
    @include large-tablet {
      transform: translateY(-10px);
    }
  }
}

.blurbcommerce {
  &__detail {
    .title {
      white-space: pre-line;
    }
  }

  &:hover {
    p:first-child {
      color: white !important;
    }
  }
  p:first-child {
    transition: 0.4s ease;
  }

  .text-check::after {
    @include tablet {
      transform: translateY(-5px);
    }
    @include large-tablet {
      transform: translateY(-8px);
    }
  }
}

.social-follow {
  &:hover {
    .social-follow-img {
      img {
        transform: scale(1.5);
      }
    }
    p:first-child {
      color: white !important;
    }
  }

  .social-follow-img {
    max-width: 60px;
    height: 90px;
    margin: 0px auto;
    img {
      transition: 0.4s ease;
      width: 100%;
    }
  }
}
