.get-started-form {
  width: 100%;
  margin: 1em auto;
}

.get-started-input {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px auto;
  width: 90%;
  padding: 15px;
  color: white !important;
}
.form-group-custom {
  width: 90%;
  margin: 20px auto;
  @include large-tablet {
    margin: 0px auto;
  }
}
.form-group-custom select {
  background: none;
  color: white;
  border: none;
  padding: 10px 15px;
  border-bottom: 1px solid white;
  font-weight: 600;
  width: 100%;

  &:focus {
    outline: none;
  }

  option {
    background: black;
  }
}
.form-group-custom .form-control-custom {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background: none;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  &:focus {
    outline: none;
  }
}
.form-group-custom .form-control-custom::placeholder {
  color: white;
  font-weight: bold;
}
.get-started-btn-wrapper {
  padding: 0px 15px;
  text-align: center;

  @include large-tablet {
    width: 30%;
    padding: 0px;
    background: $warning;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.get-started-btn {
  width: 80%;

  @include large-tablet {
    width: 100%;
  }

  padding: 10px 15px;
  background: $warning;
  font-weight: bold;
  border: none;
}

@media (min-width: 992px) {
  .get-started-input {
    justify-content: space-between;
    display: flex;
    border-left: 5px solid $warning;
    background: black;
  }
  .get-started-form {
    display: flex;
    align-items: stretch;
  }
  .get-started-btn-wrapper {
    max-width: 170px;
  }
  .form-group-custom {
    margin-right: 20px;
  }
  .form-group-custom .form-control-custom {
    margin: 0px;
  }
}

.contact-form-custom {
  width: 100%;
  @include large-tablet {
    width: 80%;
    margin: 0px auto;
  }

  .form-wrapper {
    width: 90%;
    margin: 35px auto;

    &__control {
      display: flex;

      label {
        display: block;
        max-width: 25px;
        margin-right: 1em;
        img {
          width: 100%;
        }
      }

      .error-input {
        border-bottom: 1px solid $warning;
      }

      input,
      textarea,
      select {
        width: 100%;
        display: block;
        border: none;
        background: none;
        color: white;
        font-weight: 500;
        border-bottom: 1px solid white;

        option {
          color: black;
          font-weight: 500;
          width: 100%;
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: white;
          font-weight: 600;
        }
      }
      select {
        color: white;
        text-transform: uppercase;
      }
    }
  }

  button {
    margin: 10px auto;
    width: 80%;
    @include tablet {
      width: 90%;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  // border-bottom: 1px solid white;
  // -webkit-text-fill-color: white;
  // -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  // transition: background-color 5000s ease-in-out 0s;
}
