.custom-navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: 0.4s ease;
  background: black;
  z-index: 999999;

  .navbar-toggler-icon {
    background: url("/bars.svg") no-repeat center;
    background-size: contain;
  }
  .navbar-toggler {
    border: none;
  }

  @include large-tablet {
    background: none !important;
  }

  .nav-link-custom {
    color: white !important;
    font-weight: 600;

    &:hover {
      color: $warning !important;
    }
  }
}
.custom-navbar.scrolled {
  @include large-tablet {
    background: black !important;
  }
}

.dropdown-toggle {
  color: white !important;
  font-weight: 600;
  &:hover {
    color: $warning !important;
  }
}
.dropdown-menu.show {
  background: black !important;

  .dropdown-item {
    color: white;
    font-weight: 600;
    &:hover {
      background: transparent;
      color: $warning;
    }
  }
}

.logo-class {
  width: 230px;
  @include tablet {
    width: 300px;
  }
  @include desktop {
    width: 400px;
  }
}
