$primary: black;
$warning: #f9b93e;
$blue: #19689c;

.text-gagalin {
  font-family: "Gagalin";
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin large-tablet {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: 1440px) {
    @content;
  }
}
