@import "./font";
@import "./variables";

$theme-color: (
  "primary": $primary,
  "warning": $warning,
);

@import "~bootstrap/scss/bootstrap.scss";
@import "./navbar";
@import "./jumbotron";
@import "./forms";
@import "./cards";
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: $primary;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  min-height: 200vh;
  background: #252525;
}

.my-10 {
  margin: 5em 0em;
}

.mt-10 {
  margin: 5em 0em;
  @include tablet {
    margin: 12em 0em;
  }
}

.margin-responsive {
  margin-top: 65px;
  @include large-tablet {
    margin-top: 0px;
  }
}

.font-weight-600 {
  font-weight: 600;
}

.trans-scale {
  transition: 0.4s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.text-decoaration-none {
  text-decoration: none;
}
