@import "./font";
@import "./variables";

// .text-justify {
//   // word-break: break-all;
// }
.text-pre-line {
  white-space: pre-line;
}

// $font-size-base: 1rem;

// @media (min-width: 768px) {
//   $font-size-base: 1.35rem;
// }

$theme-color: (
  "primary": $primary,
  "warning": $warning,
);

html {
  scroll-behavior: smooth;
  font-size: 1.1rem;
  @include tablet {
    font-size: 1.35rem;
  }
}

@import "~bootstrap/scss/bootstrap.scss";
@import "./navbar";
@import "./jumbotron";
@import "./forms";
@import "./cards";
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: $primary;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background: #252525;
}

.my-10 {
  margin: 5em 0em;
}

.mt-10 {
  margin: 5em 0em;
  @include tablet {
    margin: 12em 0em 5em;
  }
}

.mt-6 {
  margin-top: 4em !important;
}

.margin-responsive {
  margin-top: 65px;
  @include large-tablet {
    margin-top: 0px;
  }
}

.font-weight-600 {
  font-weight: 600;
}
.font-weight-500 {
  font-weight: 500;
}

.trans-scale {
  transition: 0.4s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.text-decoaration-none {
  text-decoration: none;
}
.line-height-2 {
  line-height: 1.6 !important;
}

.center-justified {
  text-align: justify;
  text-align-last: center;
  // word-break: break-all;
}

.text-white-hover {
  transition: 0.4s ease;
  &:hover {
    color: white !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}
.scroll-down {
  position: relative;
}

.animate-scroll {
  animation: scroll_down 0.5s ease-in infinite alternate;
}

@keyframes scroll_down {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
